# .env.example
# Configuración de Base de Datos (PostgreSQL)
DB_NAME=pos_finanzas
DB_USER=postgres
DB_PASS=postgres

# Configuración del Backend (Spring Boot)
JWT_SECRET=tu_secreto_super_seguro_para_desarrollo
DB_URL=jdbc:postgresql://database:5432/pos_finanzas
ML_SERVICE_URL=http://ml-prediction:8000

# Configuración del Frontend (Vite)
VITE_API_URL=http://localhost:8084/api
VITE_ML_API_URL=http://localhost:8004
